

<router-outlet></router-outlet>

<H1>Listado Episodios Rick and Morty</H1>

<table>
  <tr>
    <td>
      Busqueda por nombre
    </td>
    <td>
      <input type="text" id="nombre" name="nombre" [(ngModel)]="nombre">
    </td>
    <td>
     <button (click)="buscarPorNombre()">Buscar por Nombre</button>
    </td>
  </tr>
</table>


<br>
<br>
<br>


<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Nombre Episodio</th>
      <th>Fecha</th>
      <th>Edad</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let dato of miArreglo">
      <td>{{ dato.id }}</td>
      <td>{{ dato.name }}</td>
      <td>{{ dato.air_date }}</td>
      <td>{{ dato.episode }}</td>
  
    </tr>
  </tbody>
</table>